* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ecdad8;
  background-image: linear-gradient(to bottom right, #ffe4e1, #b76e79);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #bb7a72;
  color: #f4eae9;
}

.new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100vw;
}

.Transactions {
  border: 2px solid #1e110f;
  display: flex;
  width: 70vw;
}

.transactions-thead {
  display: flex;
  justify-content: space-between;
}

.New h2 {
  text-align: center;
}
